@page "/"

<PageTitle>Home</PageTitle>

<div class="col" align="center">
    <div class="row-cols-sm-3">
        <h1>Hello!</h1>
        Welcome to YourLibrary. This website has been created to help you collect all the books that you have purchased so far.
    </div>
    <div class="row-cols-sm-3">
        <img src="\Images\logo.png" />
    </div>
</div>
